.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}

.list_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1px rgb(238, 238, 238);
}

input{
    text-align: center;
}

.input__task{
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 10vh;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* espaçamento entre os labels */
    padding: 1rem;
}

.input__task label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.btn__input{
    background-color: #50E3A4;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;   
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.btn__input:hover{
    background-color: #40bd87;
    color: rgb(87, 87, 87);
    transition: 0.5s
}